In [2]:
import pandas as pd
import numpy as np

In [7]:
country_data = pd.read_csv('products_countries.tsv', sep='\t')

In [8]:
country_data.head()

            code country
0  0000000001281  france
1  0000000001885  france
2  0000000005241  france
3  0000000005470  france
4  0000000005661  france

In [9]:
country_data['country'].value_counts()

france                                 145747
germany                                 11431
spain                                    5620
switzerland                              5558
belgium                                  4013
united-states                            3903
united-kingdom                           3805
mexico                                   2615
italy                                    1325
australia                                1297
russia                                   1263
sweden                                    994
canada                                    829
portugal                                  683
netherlands                               673
serbia                                    540
austria                                   403
ireland                                   329
reunion                                   280
french-polynesia                          270
guadeloupe                                256
hungary                                   241
denmark                                   240
romania                                   226
luxembourg                                172
morocco                                   161
hong-kong                                 139
poland                                    134
south-africa                              132
czech-republic                            126
                                        ...
fiji                                        2
yemen                                       1
gibraltar                                   1
vanuatu                                     1
suriname                                    1
dominican-republic                          1
nigeria                                     1
nepal                                       1
puerto-rico                                 1
venezuela                                   1
seychelles                                  1
ethiopia                                    1
honduras                                    1
liechtenstein                               1
equatorial-guinea                           1
mozambique                                  1
libya                                       1
palestinian-territories                     1
british-indian-ocean-territory              1
anguilla                                    1
tanzania                                    1
angola                                      1
guinea                                      1
bahrain                                     1
guyana                                      1
cook-islands                                1
ghana                                       1
chad                                        1
virgin-islands-of-the-united-states         1
rwanda                                      1
Name: country, Length: 163, dtype: int64

In [10]:
products =pd.read_csv('products.tsv', sep='\t')

/home/dennis/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
products.head()

,code,name,image,n_additives,nutriscore,nova,energy_100g,energy-from-fat_100g,fat_100g,saturated-fat_100g,...,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g
0,0000000001281,Tarte noix de coco,NaN,0,d,NaN,1594.0,NaN,22.0,15.5,...,NaN,14.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000001885,Compote de poire,NaN,0,a,NaN,657.0,NaN,0.0,0.0,...,NaN,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000000005241,Bagel,NaN,0,b,NaN,824.0,NaN,5.0,1.1,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000005470,BAguette bressan,NaN,3,a,4.0,669.0,NaN,2.2,0.5,...,NaN,-4.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000000005661,Pavé de saumon fumé à la ficelle,NaN,0,d,NaN,1059.0,NaN,17.0,2.6,...,NaN,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
product_countries = products

In [23]:
product_countries = pd.merge(left=products, right=country_data, on="code", how="outer")
product_countries.columns

Index(['code', 'name', 'image', 'n_additives', 'nutriscore', 'nova',
       'energy_100g', 'energy-from-fat_100g', 'fat_100g', 'saturated-fat_100g',
       'monounsaturated-fat_100g', 'polyunsaturated-fat_100g',
       'omega-3-fat_100g', 'omega-6-fat_100g', 'omega-9-fat_100g',
       'trans-fat_100g', 'cholesterol_100g', 'carbohydrates_100g',
       'sugars_100g', 'starch_100g', 'polyols_100g', 'fiber_100g',
       'proteins_100g', 'casein_100g', 'serum-proteins_100g',
       'nucleotides_100g', 'salt_100g', 'sodium_100g', 'alcohol_100g',
       'vitamin-a_100g', 'beta-carotene_100g', 'vitamin-d_100g',
       'vitamin-e_100g', 'vitamin-k_100g', 'vitamin-c_100g', 'vitamin-b1_100g',
       'vitamin-b2_100g', 'vitamin-pp_100g', 'vitamin-b6_100g',
       'vitamin-b9_100g', 'folates_100g', 'vitamin-b12_100g', 'biotin_100g',
       'pantothenic-acid_100g', 'silica_100g', 'bicarbonate_100g',
       'potassium_100g', 'chloride_100g', 'calcium_100g', 'phosphorus_100g',
       'iron_100g', 'magnesium_100g', 'zinc_100g', 'copper_100g',
       'manganese_100g', 'fluoride_100g', 'selenium_100g', 'chromium_100g',
       'molybdenum_100g', 'iodine_100g', 'caffeine_100g', 'taurine_100g',
       'ph_100g', 'fruits-vegetables-nuts_100g',
       'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g', 'water-hardness_100g',
       'choline_100g', 'phylloquinone_100g', 'beta-glucan_100g',
       'inositol_100g', 'carnitine_100g', 'country'],
      dtype='object')

In [15]:
product_countries.head()

,code,name,image,n_additives,nutriscore,nova,energy_100g,energy-from-fat_100g,fat_100g,saturated-fat_100g,...,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g
0,0000000001281,Tarte noix de coco,NaN,0,d,NaN,1594.0,NaN,22.0,15.5,...,NaN,14.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000001885,Compote de poire,NaN,0,a,NaN,657.0,NaN,0.0,0.0,...,NaN,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000000005241,Bagel,NaN,0,b,NaN,824.0,NaN,5.0,1.1,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000000005470,BAguette bressan,NaN,3,a,4.0,669.0,NaN,2.2,0.5,...,NaN,-4.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000000005661,Pavé de saumon fumé à la ficelle,NaN,0,d,NaN,1059.0,NaN,17.0,2.6,...,NaN,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
product_countries.columns

Index(['code', 'name', 'image', 'n_additives', 'nutriscore', 'nova',
       'energy_100g', 'energy-from-fat_100g', 'fat_100g', 'saturated-fat_100g',
       'monounsaturated-fat_100g', 'polyunsaturated-fat_100g',
       'omega-3-fat_100g', 'omega-6-fat_100g', 'omega-9-fat_100g',
       'trans-fat_100g', 'cholesterol_100g', 'carbohydrates_100g',
       'sugars_100g', 'starch_100g', 'polyols_100g', 'fiber_100g',
       'proteins_100g', 'casein_100g', 'serum-proteins_100g',
       'nucleotides_100g', 'salt_100g', 'sodium_100g', 'alcohol_100g',
       'vitamin-a_100g', 'beta-carotene_100g', 'vitamin-d_100g',
       'vitamin-e_100g', 'vitamin-k_100g', 'vitamin-c_100g', 'vitamin-b1_100g',
       'vitamin-b2_100g', 'vitamin-pp_100g', 'vitamin-b6_100g',
       'vitamin-b9_100g', 'folates_100g', 'vitamin-b12_100g', 'biotin_100g',
       'pantothenic-acid_100g', 'silica_100g', 'bicarbonate_100g',
       'potassium_100g', 'chloride_100g', 'calcium_100g', 'phosphorus_100g',
       'iron_100g', 'magnesium_100g', 'zinc_100g', 'copper_100g',
       'manganese_100g', 'fluoride_100g', 'selenium_100g', 'chromium_100g',
       'molybdenum_100g', 'iodine_100g', 'caffeine_100g', 'taurine_100g',
       'ph_100g', 'fruits-vegetables-nuts_100g',
       'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g', 'water-hardness_100g',
       'choline_100g', 'phylloquinone_100g', 'beta-glucan_100g',
       'inositol_100g', 'carnitine_100g'],
      dtype='object')

In [24]:
p_countries_alcohol = product_countries[['code','country','alcohol_100g']]

In [28]:
p_countries_alcohol=p_countries_alcohol.dropna()

In [29]:
p_countries_alcohol.head()

              code         country  alcohol_100g
36   0000020004552          france          13.0
153       00024679          france           4.5
154       00024679  united-kingdom           4.5
205       00050319          france           5.0
249       00074742  united-kingdom           0.0

In [30]:
p_countries_alcohol.count()

code            1515
country         1515
alcohol_100g    1515
dtype: int64

In [ ]:
p_countries_alcohol